  html {
    -webkit-font-smoothing: antialiased;
  }
  h1 {
    font-size: 2;
  }
  h2 {
    font-size: 1.8;
  }
  h3 {
    font-size: 1.5;
  }
  ol {
    font-size: 1.1;
  }
  ol li {
    margin: 0.5em;
  }
  p {
    text-indent: 1em;
  }
  body {
    position: relative;
    margin: 0;
    font-family: palatino;
  }
  .banner {
    width: 800px;
    margin: auto;
  }
  .banner img {
    width: 100%;
  }
  .hero {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 230px;
    color: #f4f4f4;
    font-size: 3em;

  }
  .copy {
    width: 800px;
    margin: auto;
  }
  .copy p {
    font-size: 1.2em;
  }
  </style>
